.shampoo-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -.5rem;
  @media screen and (max-width: 1130px) {
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
}

.shampoo-list__item {
  flex: 1 1 30%;
  margin: .5rem;
  display: flex;
  justify-content: center;

  @media screen and (max-width: 767px) {
    width: 100%;
  }
}
