.list-item {
  background: #F8FAFC;
  border-radius: 25px;
  max-width: 590px;;
  padding: 2.875rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  transition: filter .1s;
  position: relative;

  &:hover {
    filter: drop-shadow(0px 4px 45px #C3D4E4);
  }
}

.list-item__title {
  font-family: SF UI Display;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.04;
  text-align: center;
  color: #2C2C2C;
}

.list-item__description {
  font-family: SF UI Display;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5;
}

.list-item__row {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.list-item__price {
  margin-left: auto;
  font-family: SF UI Display;
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  color: #000000;
}

.btn-group {
  background: #E2E9F0;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #2C2C2C;
  transition: all .1s;

  &:hover {
    background: #D8E3EE;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }

  .btn {
    background: inherit;
    padding: 0 13px;
    cursor: pointer;
  }
}

.btn {
  border: none;
  cursor: pointer;
  border-radius: 50%;

  &--large {
    flex: 1 2 310px;
    padding: 10px ;
    margin-left: 1.8rem;
    min-width: 9rem;
    font-family: SF UI Display;
    font-style: normal;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.137rem;
    text-transform: uppercase;
    color: #fff;
    background: linear-gradient(261.65deg, #EFBB37 -3.95%, #CF9E1F 109.44%);
    border-radius: 30px;
    transition: all .1s;

    &:hover {
      filter: drop-shadow(0px 0px 20px #E8CB80);
    }

    &:active {
      background: linear-gradient(261.65deg, #FFD773 -3.95%, #E2B645 109.44%);
    }
  }
}

.pills {
  position: absolute;
  left: 30px;
  top: 46px;
  font-family: SF UI Display;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 5px 20px;
  background: linear-gradient(261.65deg, #EFBB37 -3.95%, #CF9E1F 109.44%);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  transform: translateY(-50%);
}

.btn-comparison {
  position: absolute;
  right: 30px;
  top: 46px;
  font-size: 0;
  height: 2.5rem;
  width: 2.5rem;
  background: #FFFFFF url("../../icons/libra.svg") no-repeat center center;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transform: translateY(-50%);
  transition: all .1s;

  &:hover {
    background: #F9FAFC url("../../icons/libra.svg") no-repeat center center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  }

  &.active {
    background: #FFFFFF url("../../icons/checkmark.svg") no-repeat center center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  }
}
